<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2015-2016 The CyanogenMod Project
                   2017-2018 The LineageOS Project
                   2020-2022 Paranoid Android

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.aospa.glyph"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="31"
        android:targetSdkVersion="31"/>

    <application
        android:label="@string/glyph_settings_app_name"
        android:persistent="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.CallReceiverService"
            android:permission="android.permission.READ_PHONE_STATEREAD_PHONE_STATE">
        </service>

        <service
            android:name=".Services.ChargingService">
        </service>

        <service
            android:name=".Services.FlipToGlyphService">
        </service>

        <service
            android:name=".Services.NotificationService"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name=".Services.GlyphTileService"
            android:exported="true"
            android:label="@string/glyph_settings_enable"
            android:icon="@drawable/ic_glyphs_logo"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:name=".Services.GlyphTileServiceActivity"
            android:exported="true"
            android:label="@string/glyph_settings_enable"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Settings.SettingsActivity"
            android:exported="true"
            android:label="@string/glyph_settings_title"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_glyphs_logo" />
            <meta-data
                android:name="com.android.settings.summary"
                android:value="@string/glyph_settings_summary" />
             <meta-data
                android:name="com.android.settings.order"
                android:value="-255" />
        </activity>

        <activity
            android:name=".Settings.NotifsSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>
</manifest>
